<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=eddge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Test</title>
    {% block head %} {% endblock %}
</head>
<body>

    {% block body %} {% endblock %}

</body>
</html>